{% extends "shared/_layout.html" %}

{% block title %}CampFinder - Account{% endblock %}
{% block nav %}{% endblock %}
{% block main_content %}

<div class="form-container">

    <form action="" method="POST" class="account-form">
        <div class="form-header">Change Password</div>
        <a href="/account/forgot_password">Forgot your password?</a>
        {% if error %}
        <div class="alert-banner">{{error}}</div>
        {% endif %}
        <div class="form-fields">
            <input name="old_password" type="password" placeholder=" Current password" class="form-control"
                value="{{old_password}}" required>
            <input name="new_password" type="password" placeholder=" New password" class="form-control" value=""
                required>
            <input name="confirm_password" type="password" placeholder=" Confirm password" class="form-control" value=""
                required>
            <button type="submit" class="btn btn-success">Change Password</button>
        </div>
        <!-- TODO: make the email field have to be an email -->


    </form>
    {% if success %}
    <div class="success-msg">{{success}}</div>
    {% endif %}

</div>


{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/account.css')}}" />
{% endblock %}