{% extends "shared/_layout.html" %}

{% block title %}CampFinder - Confirmation{% endblock %}
{% block nav %}{% endblock %}
{% block main_content %}

<div>
    <div class="form-header">Your account is activated!</div>
    <div>
        It's great to have you on board! You're now all set to <a href="{{ url_for('account.login_get') }}"">log in</a>, change your password
        if needed, and start setting up notifications for parks you want to camp at!
    </div>
</div>


{% endblock %}

{% block additional_css %}
{% endblock %}