{% extends "shared/_layout.html" %}

{% block title %}CampFinder - Forgot Password{% endblock %}
{% block nav %}{% endblock %}
{% block main_content %}

<div class="form-container">

    <form action="" method="POST" class="account-form">
        <div class="form-header">Forgot your password?</div>
        {% if error %}
        <div class="alert-banner">{{error}}</div>
        {% endif %}
        <input name="email" type="email" placeholder=" Email address" class="form-control" value="{{email}}" required>
        <button type="submit" class="btn btn-success">Reset Password</button>
        <!-- TODO: make the email field have to be an email -->


    </form>
    {% if success %}
    <div class="success-msg">{{success}}</div>
    {% endif %}

</div>


{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/account.css')}}" />
{% endblock %}