{% extends "/shared/_layout.html" %}

{% block title %}CampFinder - Account{% endblock %}
{% block nav %}Home{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/account.css')}}" />
{% endblock %}
{% block main_content %}

<div class="account-page">

    <h2>Hello {{user_name}}</h2>
    <div class="pwChange"><a href="/account/change_password">Change password</a></div>

    <h3>Preferences:</h3>
    <div id="preferences" class="preference-block"></div>

    <div>
        <h3>Your Searches:</h3>
    </div>
    <div id='searchTable' class="search-table"></div>


    </p>
</div>

{% endblock %}

{% block additional_js %}
<script src="{{ url_for('static', filename='/js/compiled_js/preferences.js') }}"></script>
<script src="{{url_for('static', filename='js/compiled_js/searchList.js') }}"></script>
{% endblock %}