{% extends "/shared/_layout.html" %}
{% block title %}CampFinder - About{% endblock %}
{% block additional_css %}
{% endblock %}

{% block main_content %}
<div class="row">
    <div>
        <h4>About</h4>
    </div>
    <div>
        <p>Have you ever tried to make plans to go camping in Wisconsin's
            wonderful state park system, only to realize that every single
            campsite in the state has been reserved? Unless someone cancels
            their reservation right while you are looking, you're out of luck. </p>
        <p>This has happened to us many times, which is why we made this
            website. We do the checking for you, so you simply tell us the
            dates you would like to camp, the parks you would like to
            camp at, and we'll send you an email if one of those sites
            opens up. </p>
        <p>Once you get the email, you will still need to go to the <a
                href="https://wisconsin.goingtocamp.com/">Wisconsin State Parks
                Reservation System</a> and complete your reservation there. We
            just tell you when it's available.</p>
        <p>Right now, when you submit a search, we assume you are looking
            for tent spots, non-ADA only. We are planning to expand this in
            the future, so stay tuned for updates!
        </p>
        <p>We also allow for "Instascraping" of the Wisconsin Park System,
            where you can select the parks you are interested in and the dates you
            want, then click Instascrape to get realtime results on which of
            those parks have available campsites! Instascraping is a little bit
            fragile, so if you don't get a result the first time you click the
            button, try clicking it again.
        </p>
        <!-- email address is encoded to avoid spam: -->
        <p>Have any questions? Shoot us an email at campfinder@campfinder.me. Happy camping!</p>
    </div>
</div>
{% endblock %}

{% block additional_js %}
<script src="static/js/compiled_js/app.js"></script>
{% endblock %}