{% extends "/shared/_layout.html" %}
{% block title %}CampFinder - About{% endblock %}
{% block additional_css %}
{% endblock %}

{% block main_content %}
<div class="row">
    <div>
        <h4>About</h4>
    </div>
    <div>
        <p>Have you ever tried to make plans to go camping in Wisconsin's
            wonderful state park system, only to realize that every single
            campsite in the state has been reserved? If you're not making
            plans and reserving sites right when the availabilities open,
            you're usually not able to go camping at all, much less at a park
            near you. Unless someone cancels their reservation while you are
            looking and you are able to snag it, you're out of luck. </p>
        <p>This happened to us many times, which is why we made this
            site. We do the checking for you, so you simply tell us the
            dates you would like to camp, the parks you would like to
            camp at, and we'll send you an email if one of those sites
            opens up. </p>
        <p>It's important to note that we do not do any of the booking.
            Once you get the email, you will still need to go to the <a
                href="https://wisconsin.goingtocamp.com/">Wisconsin State Parks
                Reservation System</a> and complete your reservation there. We
            just tell you when it's available.</p>
        <p>Right now, when you submit a search, we assume you are looking
            for tent spots, non-ADA only. We are planning to expand this in
            the future, so stay tuned for updates!
        </p>
        <!-- email address is encoded to avoid spam: -->
        <p>Have any questions? Shoot us an email at
            &#119;&#105;&#112;&#097;&#114;&#107;&#115;&#099;&#114;&#097;&#112;&#101;&#114;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;.
            Happy camping!</p>
    </div>
</div>
{% endblock %}

{% block additional_js %}
<script src="static/js/compiled_js/app.js"></script>
{% endblock %}