{% extends "/shared/_layout.html" %}
{% block additional_css %}
<link rel="stylesheet" href="/static/css/daypicker_styles.css">
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block main_content %}
<div>
    <div class="row">
        <div>
            <h1>Find WI Campsites TONIGHT</h1>
        </div>
    </div>

    <div class="row">
        <div class="text-right">
            <h1>RVers HATE him for using this one simple trick</h1>
        </div>
    </div>

    <div class="row">
        {% if user_id %}
        <!-- The app goes here: -->
        <div id="root"></div>
        {% else %}
        <div>
            <h4>This site is in closed beta. Please contact wiparkscraper@gmail.com if you have any questions.</h4>
        </div>
        {% endif %}
    </div>


    <div class="row">

        <div class>
            <form action="" method="POST" class="account-form">
                <button class="btn btn-success">click me to scrape</button>
            </form>
        </div>


    </div>
</div>
{% endblock %}

{% block additional_js %}
<script src="static/js/compiled_js/app.js"></script>
{% endblock %}