{% extends "/shared/_layout.html" %}
{% block title %}CampFinder - Get Notified When Campsites Are Available{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/daypicker_styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/form.css') }}">
{% endblock %}

{% block main_content %}

<div class="row">
    <a href="/about">CampFinder allows you to sign up for notifications when
    campsites are available in Wisconsin State Parks!</a> </div>

<div class="row selectionApp">
    {% if user_id %}
    <div class="alert-banner">
        Hi, thank you for joining the beta! This site is in the early stages
        of being live, so I appreciate your help in figuring out where the
        issues are. If you see something wrong, or the site is missing a key
        feature you think it should have, please drop me a message at
        campfinder@campfinder.me. You can also <a
        href="https://github.com/e-staats/CampFinder/issues">open an
        issue</a> on Github if you'd like.
    </div>

    <!-- The app goes here: -->
    <div id="root"></div>

    {% else %}
    <div>
        <h4>This site is in closed beta. Please contact
        campfinder@campfinder.me if you have any questions.</h4> </div>
    {% endif %}
</div>
{% endblock %}

{% block additional_js %}
<script src="static/js/compiled_js/app.js"></script>
{% endblock %}