{% extends "/shared/_layout.html" %}
{% block main_content %}
<div class="container main-feed">

    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">
            <h1>Find WI Campsites TONIGHT</h1>
        </div>

        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8 text-right">
            <h1>RVers HATE him for using this one simple trick</h1>
        </div>

        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">
            <form action="" method="POST" class="account-form">
                <button class="btn btn-success">click me to scrape</button>
            </form>
        </div>

        <div class="col-md-2"></div>
    </div>


</div>
{% endblock %}

{% block additional_js %}

{% endblock %}