body {
  background-color: #fff3dd;
  margin: 0;
  font-family: "Cabin", "MaisonNeue", "Segoe UI", "Helvetica Neue", -apple-system, system-ui, BlinkMacSystemFont, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12pt;
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

body a {
  color: #F15451;
}

nav {
  background-color: #1D2A3D;
  padding: 0px;
  margin: 0px;
}

.hero {
  background-color: #1D2A3D;
  justify-content: center;
}

.image-container img {
  max-width: 100%;
}

.nav-bar {
  margin-top: 0px;
  min-height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 12pt;
}

.nav-pad {
  padding: 0px;
  margin: 0px;
  position: relative;
}

.nav-item {
  padding: 0px;
  margin: 0px;
  position: relative;
}

.nav-item:hover {
  background-color: #040609;
}

.nav-text {
  vertical-align: middle;
}

nav a {
  display: block;
  min-height: 30px;
  text-align: center;
}

nav a:link {
  color: white;
  text-decoration: none;
}

nav a:visited {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: white;
  text-decoration: none;
}

nav a:active {
  color: white;
  text-decoration: none;
}

nav .login {
  background-color: #F15451;
}

nav .login:hover {
  background-color: #e31612;
}

nav .logout {
  background-color: #1D2A3D;
}

nav .logout:hover {
  background-color: #0d121a;
}

.form-header {
  font-family: "Roboto Condensed", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18pt;
  font-weight: 700;
}

.region-header {
  font-family: "Roboto Condensed", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18pt;
  font-weight: 700;
  font-size: 16pt;
  text-decoration: underline;
}

.region-header a {
  color: #1D2A3D;
}

.main-body {
  margin-top: 0px;
  min-height: 85vh;
  margin-bottom: 0px;
}

.faded-text {
  opacity: 0.5;
}

.main-content {
  background-color: #fff3dd;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.info-box {
  border: 1px solid gray;
  border-radius: 4px;
  margin-top: 20px;
  padding: 10px;
  background-color: #fff8f8;
  width: 100%;
  margin-top: 0px;
  text-align: center;
}

.alert-banner {
  margin-top: 8px;
  border: rgba(0, 0, 0, 0.15);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 10px;
  background-color: rgba(241, 84, 81, 0.25);
}

.public-facing-banner {
  font-size: 18pt;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer {
  background-color: #fff3dd;
  padding: 50px;
  text-align: center;
  color: #1D2A3D;
}

.table-header {
  font-weight: bold;
  font-size: 14px;
  margin: 0px;
}

.table-row {
  font-size: 12px;
  margin: 0px;
  padding: 3px;
  border-bottom: 1px dotted black;
}

.inactive {
  color: #909090;
  background-color: #f8ddde;
}

.active {
  background-color: #def8dd;
}

ul {
  list-style: none;
  padding: 0;
}

.pwChange {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.help-tip-text {
  color: #F15451;
  text-decoration: dotted underline;
  cursor: default;
}

.help-tip:hover p {
  display: block;
  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}

.help-tip p {
  /* The tooltip */
  display: none;
  text-align: left;
  background-color: #F15451;
  padding: 20px;
  width: 300px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  left: 35%;
  bottom: 4%;
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
}

/* CSS animation */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 100%;
    transform: scale(1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.form-header-parent {
  display: flex;
}

.form-block {
  margin-top: 10px;
}

.zipCodeInput {
  margin-left: 0.5em;
}

.parkList {
  display: flex;
}
.parkList input[type=checkbox] {
  flex: 0 0 auto;
}
.parkList label {
  position: relative;
  padding-left: 4px;
  font-size: 11pt;
  text-overflow: ellipsis;
  margin-bottom: 0em;
}

.masterButtonArray {
  padding-left: 5px;
}

.masterButton {
  margin-left: 10px;
  margin-right: 20px;
}

.masterCheckAll {
  cursor: pointer;
  text-decoration: underline;
  color: #F15451;
}
.masterCheckAll:hover {
  color: #e31612;
}

.masterUncheckAll {
  cursor: pointer;
  text-decoration: underline;
  color: #F15451;
}
.masterUncheckAll:hover {
  color: #e31612;
}

.submitButton {
  border-radius: 5px;
  color: white;
  font-size: 12pt;
  margin-right: 20px;
  height: 35px;
  margin-top: 10px;
  border: none;
  background-color: #F15451;
}

.instascrapeButton {
  border-radius: 5px;
  color: white;
  font-size: 12pt;
  margin-right: 20px;
  height: 35px;
  margin-top: 10px;
  border: none;
  background-color: #1D2A3D;
}

.zipCodeButton {
  border-radius: 5px;
  color: white;
  font-size: 12pt;
  margin-right: 20px;
  height: 35px;
  margin-top: 10px;
  border: none;
  background-color: #1D2A3D;
  margin-left: 1em;
}

.successBanner {
  border: 1px solid gray;
  border-radius: 4px;
  margin-top: 20px;
  padding: 10px;
  background-color: #fff8f8;
  width: 100%;
  color: #1D2A3D;
}

.errorBanner {
  border: 1px solid gray;
  border-radius: 4px;
  margin-top: 20px;
  padding: 10px;
  background-color: #fff8f8;
  width: 100%;
  color: #F15451;
}

.checkboxArray {
  margin-top: 10px;
}

.checkAll label {
  position: relative;
  padding-left: 4px;
  font-size: 11pt;
  text-overflow: ellipsis;
  margin-bottom: 0em;
  font-weight: bold;
}

.checkbox-container {
  margin-bottom: 0.5em;
}

.distance-info {
  color: gray;
  font-size: 10pt;
  font-style: italic;
  margin-left: 1.5em;
  line-height: 15px;
}

.park-list-checkbox {
  position: relative;
  display: block;
}

.park-list-checkbox span {
  display: block;
  margin-left: 1em;
  padding-left: 0.5em;
  text-align: left;
}

.park-list-checkbox span::before {
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 1.5em;
  height: 1em;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
  content: "";
  background: #fff8f8;
  border: 1px solid gray;
}

.park-list-checkbox span::after {
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 1.5em;
  height: 1em;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
  text-align: center;
}

.park-list-checkbox input[type=checkbox] {
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.park-list-checkbox input[type=checkbox]:checked + span::after {
  color: black;
  position: absolute;
  content: "";
  display: block;
  border-radius: 4px;
  border: 1px solid gray;
}
.northeast .park-list-checkbox input[type=checkbox]:checked + span::after {
  background-color: #b1d5bc;
}
.northwest .park-list-checkbox input[type=checkbox]:checked + span::after {
  background-color: #fad87b;
}
.southwest .park-list-checkbox input[type=checkbox]:checked + span::after {
  background-color: #bcd682;
}
.southeast .park-list-checkbox input[type=checkbox]:checked + span::after {
  background-color: #ffca6e;
}

.checkAll input[type=checkbox]:checked + span::after {
  color: black;
  position: absolute;
  content: "";
  display: block;
  border-radius: 4px;
  border: 1px solid gray;
}
.northeast .checkAll input[type=checkbox]:checked + span::after {
  background-color: #5ea875;
}
.northwest .checkAll input[type=checkbox]:checked + span::after {
  background-color: #edb009;
}
.southwest .checkAll input[type=checkbox]:checked + span::after {
  background-color: #81a335;
}
.southeast .checkAll input[type=checkbox]:checked + span::after {
  background-color: #ee9700;
}

.loader {
  border: 1px solid gray;
  border-radius: 4px;
  margin-top: 20px;
  padding: 10px;
  background-color: #fff8f8;
  width: 100%;
  color: #F15451;
}

.loader-spinner {
  display: flex;
  width: 100%;
  height: 100;
  justify-content: center;
  align-items: center;
}

.adhoc-results {
  border: 1px solid gray;
  border-radius: 4px;
  margin-top: 20px;
  padding: 10px;
  background-color: #fff8f8;
  width: 100%;
}

.adhoc-row-header {
  font-weight: bolder;
  margin-top: 5px;
}

.container {
  border: solid 1px black;
  width: 1000px;
  height: 1000px;
  background: url("../img/wisconsin-edits.svg");
}

.origin-node {
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: white;
  z-index: 10;
  padding: 10px;
}

.northeast-node {
  background-color: #b1d5bc;
  opacity: 70%;
}

.northwest-node {
  background-color: #fad87b;
  opacity: 70%;
}

.southeast-node {
  background-color: #ffca6e;
  opacity: 70%;
}

.southwest-node {
  background-color: #bcd682;
  opacity: 70%;
}

.map-circle-checkbox {
  position: absolute;
  display: block;
  border-radius: 3px;
  padding: 3px;
  border: 1px solid white;
}

.map-circle-checkbox:hover {
  z-index: 15;
  border: 1px solid white;
  opacity: 100%;
}

.map-circle-checkbox span {
  display: block;
  text-align: left;
  font-size: 9pt;
  padding-left: 15px;
}

.map-circle-checkbox span::before {
  display: block;
  position: absolute;
  top: 3px;
  left: 0px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding-top: 2px;
  outline: 0;
  cursor: pointer;
  content: "";
  background: white;
  border: 1px solid gray;
}

.map-circle-checkbox span::after {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding-top: 2px;
  outline: 0;
  cursor: pointer;
  text-align: center;
}

.map-circle-checkbox input[type=checkbox] {
  opacity: 0;
  z-index: -1;
  position: absolute;
  padding-top: 2px;
}

/*# sourceMappingURL=form.css.map */
