body {
  background-color: #fff3dd;
  margin: 0; }

nav {
  background-color: #2c6e49;
  padding: 0px;
  margin: 0px; }

.nav-bar {
  margin-top: 0px;
  min-height: 60px;
  justify-content: center;
  align-items: center;
  font-size: 14pt; }

.nav-pad {
  padding: 0px;
  margin: 0px;
  position: relative; }

.nav-item {
  padding: 0px;
  margin: 0px;
  position: relative; }

.nav-item:hover {
  background-color: #163725; }

nav a {
  display: block;
  min-height: 60px;
  text-align: center; }

nav a:link {
  color: white;
  text-decoration: none; }

nav a:visited {
  color: white;
  text-decoration: none; }

nav a:hover {
  color: white;
  text-decoration: none; }

nav a:active {
  color: white;
  text-decoration: none; }

nav .register {
  background-color: #ffae10; }

nav .register:hover {
  background-color: #c38100; }

nav .login {
  background-color: #772014; }

nav .login:hover {
  background-color: #360e09; }

nav .logout {
  background-color: #0a122a; }

nav .logout:hover {
  background-color: black; }

.main-body {
  margin-top: 0px;
  min-height: 70vh; }

.main-content {
  background-color: white;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px; }

.copyright {
  background-color: #ffae10;
  margin-top: 50px;
  padding: 30px;
  text-align: center; }

.table-header {
  font-weight: bold;
  font-size: 14px;
  margin: 0px; }

.table-row {
  font-size: 12px;
  margin: 0px;
  padding: 3px;
  border-bottom: 1px dotted black; }

.inactive {
  color: #909090;
  background-color: #f8ddde; }

.active {
  background-color: #def8dd; }

ul {
  list-style: none;
  padding: 0; }

.pwChange {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px; }
