body {
  background-color: #fff3dd;
  margin: 0;
  font-family: "MaisonNeue", "Segoe UI", "Helvetica Neue", -apple-system, system-ui, BlinkMacSystemFont, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

body a {
  color: #CB5134; }

nav {
  background-color: #405A53;
  padding: 0px;
  margin: 0px; }

.hero {
  min-height: 50px;
  background-color: #405A53; }

.nav-bar {
  margin-top: 0px;
  min-height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 10pt; }

.nav-pad {
  padding: 0px;
  margin: 0px;
  position: relative; }

.nav-item {
  padding: 0px;
  margin: 0px;
  position: relative; }

.nav-item:hover {
  background-color: #202d2a; }

.nav-text {
  vertical-align: middle; }

nav a {
  display: block;
  min-height: 30px;
  text-align: center; }

nav a:link {
  color: white;
  text-decoration: none; }

nav a:visited {
  color: white;
  text-decoration: none; }

nav a:hover {
  color: white;
  text-decoration: none; }

nav a:active {
  color: white;
  text-decoration: none; }

nav .register {
  background-color: #CB5134; }

nav .register:hover {
  background-color: #8e3924; }

nav .login {
  background-color: #772014; }

nav .login:hover {
  background-color: #360e09; }

nav .logout {
  background-color: #0a122a; }

nav .logout:hover {
  background-color: #192c68; }

.main-body {
  margin-top: 0px;
  min-height: 85vh;
  margin-bottom: 0px; }

.main-content {
  background-color: #fff3dd;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 40px; }

.selectionApp {
  margin-top: 5px; }

.footer {
  background-color: #fff3dd;
  padding: 30px;
  text-align: center;
  color: #405A53; }

.table-header {
  font-weight: bold;
  font-size: 14px;
  margin: 0px; }

.table-row {
  font-size: 12px;
  margin: 0px;
  padding: 3px;
  border-bottom: 1px dotted black; }

.inactive {
  color: #909090;
  background-color: #f8ddde; }

.active {
  background-color: #def8dd; }

ul {
  list-style: none;
  padding: 0; }

.pwChange {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px; }
