body {
    background-color: #f5f0f0;
}

.main-feed .subtitle {
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
}

.main-feed h2 {
    font-size: 24px;
    font-weight: bold;
}

.main-feed h4 {
    margin-top: 15px;
}

.main-feed .feed-item {
    border: 1px solid #d3d3d3;
    padding: 10px;
    background-color: #ececec;
    min-height: 45px;
    margin-top: 15px;
    color: black;
    margin-bottom: 15px;
}

.main-feed .feed-item .title {
    font-size: 20px;
}

.main-feed .feed-item a {
    color: #006dad;
}

.main-feed .feed-item .desc {
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
}

.feed-card {
    background-color: white;
    box-shadow: 2px 2px 4px 1px #888888;
    margin: 20px 5px 5px 5px;
    padding: 20px;
    box-sizing: border-box;
}

.logo-area {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    padding: 20px;
}

.account-controls {
    text-align: right;
}

.copyright {
    margin-top: 50px;
    padding: 30px;
    text-align: center;
}

.row {
    margin-top: 8px;
}

.title {
    font-weight: bold;
    font-size: 24px;
}

.card {
    box-shadow: 1px 1px 1px 1px #888888;
    box-sizing: border-box;
    margin-top: 20px;
}

.prof-pic-small {
    width: 100%;
}

.table-header {
    font-weight: bold;
    font-size: 14px;
    margin: 0px;
}

.table-row {
    font-size: 12px;
    margin: 0px;
    padding: 3px;
    border-bottom: 1px dotted black
}

.inactive {
    color: #909090;
    background-color: #F8DDDE;
}

.active {
    background-color: #DEF8DD;
}

ul {
    list-style: none;
    padding: 0
}

.pwChange {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}