$nwBackground: #fad87b;
$neBackground: #b1d5bc;
$swBackground: #bcd682;
$seBackground: #ffca6e;
$primaryGreen: #405A53;
// $primaryOrange:#CB5134;
$primaryOrange: #F15451;
$primaryYellow: #F3BE12;
$primaryRed: #772014;
$primaryNavy: #1D2A3D;
$siteBackground: #fff3dd;
$formHeaderColor: #fff8f8;
