$nwBackground: #fad87b;
$neBackground: #b1d5bc;
$swBackground: #bcd682;
$seBackground: #ffca6e;
$primaryGreen: #405A53;
$primaryOrange:#CB5134;
$primaryRed: #772014;
$primaryNavy: #0a122a;
$siteBackground: #fff3dd;
$formHeaderColor: #FFFFFF;
