@import "_colors";

// .account-page {
//     width: 550px;
// }

.account-form {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 20px;
    background-color: $formHeaderColor;
}

.form-control {
    margin-top: 20px;
}

.btn {
    margin-top: 20px;
}

.preference-block {
    margin-bottom: 15px;
}

.preference-header {
    font-weight: bold;
}

@mixin checkbox {
    position: relative;
    color: black;
    border: 1px solid gray;
    width: 1em;
    height: 1em;
    border-radius: 4px;
    appearance: none;
    outline: 0;
    cursor: pointer;
}

.preference-checkbox {
    margin-right: 10px;
}

input[type="checkbox"] {
    @include checkbox();

    &::before {
        position: absolute;
        content: "";
        display: block;
        top: 1px;
        left: 5px;
        width: 5px;
        height: 10px;
        border-style: solid;
        border-color: white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
    }

    &:checked {
        color: black;
        border-color: $primaryGreen;
        background-color: $primaryGreen;
    }

    &::before {
        opacity: 1;
    }

    ~ label::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.row-item {
    padding-left: 2px;
    padding-right: 2px;
}

@mixin search-toggle {
    cursor: pointer;
    text-decoration: dotted underline;
}

.search-disable {
    @include search-toggle();
    color: #dc3545;
    &:hover {
        color: darken(#dc3545, 15%);
    }
}
.search-enable {
    @include search-toggle();
    color: #28a745;
    &:hover {
        color: darken(#28a745, 15%);
    }
}
