@import "_colors";

// .account-page {
//     width: 550px;
// }

.account-form {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 20px;
    background-color: $formHeaderColor;
}

.form-control {
    margin-top: 20px;
}

.btn {
    margin-top: 20px;
}

.preference-block {
    margin-bottom: 15px;
}

.preference-header {
    font-weight: bold;
}

@mixin checkbox {
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
}

.preference-checkbox {
  position: relative;
  display: block;
}

.preference-checkbox span {
  display: block;
  margin-left: 1em;
  padding-left: 0.5em;
  text-align: left;
}

.preference-checkbox span::before {
  @include checkbox();
  content: "";
  background: $formHeaderColor;
  border: 1px solid gray;
}

.preference-checkbox span::after {
  @include checkbox();
  text-align: center;
}

.preference-checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: -1;
  position: absolute;
}

@mixin checkbox-checked {
  color: black;
  position: absolute;
  content: "";
  display: block;
  border-radius: 4px;
  border: 1px solid gray;
  background-color: $primaryOrange;
}

.preference-checkbox input[type="checkbox"]:checked + span::after {
  @include checkbox-checked();
}

.row-item {
    padding-left: 2px;
    padding-right: 2px;
}

@mixin search-toggle {
    cursor: pointer;
    text-decoration: dotted underline;
}

.search-disable {
    @include search-toggle();
    color: #dc3545;
    &:hover {
        color: darken(#dc3545, 15%);
    }
}
.search-enable {
    @include search-toggle();
    color: #28a745;
    &:hover {
        color: darken(#28a745, 15%);
    }
}

.success-msg {
    border: 1px solid gray;
    border-radius: 4px;
    margin-top: 20px;
    padding: 10px;
    color: $primaryNavy;
}
