@import "_colors";

.form-header-parent {
  display: flex;
}

.form-block {
  margin-top: 10px;
}

@mixin myLabel {
  position: relative;
  padding-left: 4px;
  font-size: 11pt;
  text-overflow: ellipsis;
}

.parkList {
  display: flex;
  input[type="checkbox"] {
    flex: 0 0 auto;
  }
  label {
    @include myLabel();
  }
}

.masterButton {
  margin-left: 10px;
  margin-right: 20px;
}

@mixin masterButton {
  width: 130px;
  height: 25px;
  align-items: center;
  border-radius: 7px;
  color: white;
  font-size: 12pt;
  border: none;
  margin-top: 10px;
}

.masterCheckAll {
  @include masterButton();
  background-color: lighten($primaryNavy, 20%);
}

.masterUncheckAll {
  @include masterButton();
  background-color: $primaryOrange;
}

@mixin actionButton {
  border-radius: 5px;
  color: white;
  font-size: 12pt;
  margin-right: 20px;
  height: 35px;
  margin-top: 10px;
}

.submitButton {
  @include actionButton();
  background-color: $primaryGreen;
  border: none;
}

.instascrapeButton {
  @include actionButton();
  background-color: $primaryRed;
  border: none;
}

.successBanner {
  color: $primaryGreen;
}

.errorBanner {
  color: $primaryOrange;
}

.checkboxArray {
  margin-top: 10px;
}

.checkAll label {
  @include myLabel();
  font-weight: bold;
}

@mixin parkCheckbox {
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 1.5em;
  height: 1em;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
}

.park-list-checkbox {
  position: relative;
  display: block;
}

.park-list-checkbox span {
  display: block;
  margin-left: 1em;
  padding-left: 0.5em;
  text-align: left;
}

.park-list-checkbox span::before {
  @include parkCheckbox();
  content: "";
  background: #fdf2f2;
  border: 1px solid gray;
}

.park-list-checkbox span::after {
  @include parkCheckbox();
  text-align: center;
}

.park-list-checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.park-list-checkbox input[type="checkbox"]:checked + span::after {
  color: black;
  position: absolute;
  content: "";
  display: block;
  border-radius: 4px;
  border: 1px solid gray;
  .northeast & {
    background-color: $neBackground;
  }
  .northwest & {
    background-color: $nwBackground;
  }
  .southwest & {
    background-color: $swBackground;
  }
  .southeast & {
    background-color: $seBackground;
  }
}

// input[type="checkbox"] {
//   @include parkCheckbox();
//     &::before {
//       position: absolute;
//       content: "";
//       display: block;
//       top: 1px;
//       left: 9px;
//       width: 5px;
//       height: 10px;
//       border-style: solid;
//       border-color: white;
//       border-width: 0 2px 2px 0;
//       transform: rotate(45deg);
//       opacity: 0;
//     }
//     &:checked {
//       color: black;
//       .northeast & {
//         border-color: $neBackground;
//         background-color: $neBackground;
//       }
//       .northwest & {
//         border-color: $nwBackground;
//         background-color: $nwBackground;
//       }
//       .southwest & {
//         border-color: $swBackground;
//         background-color: $swBackground;
//       }
//       .southeast & {
//         border-color: $seBackground;
//         background-color: $seBackground;
//       }
//       &::before {
//         opacity: 1;
//       }
//       ~ label::before {
//         clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
//       }
//     }
// }
