@import "_colors";
@import "index.scss";

.form-header-parent {
  display: flex;
}

.form-block {
  margin-top: 10px;
}

@mixin myLabel {
  position: relative;
  padding-left: 4px;
  font-size: 11pt;
  text-overflow: ellipsis;
  margin-bottom: 0em;
}

.zipCodeInput {
  margin-left: 0.5em;
}

.parkList {
  display: flex;
  input[type="checkbox"] {
    flex: 0 0 auto;
  }
  label {
    @include myLabel();
  }
}

.masterButtonArray {
  padding-left: 5px;
}

.masterButton {
  margin-left: 10px;
  margin-right: 20px;
}
@mixin masterButton {
  cursor: pointer;
  text-decoration: underline;
}

.masterCheckAll {
  @include masterButton();
  color: $primaryOrange;
  &:hover {
    color: darken($primaryOrange, 15%);
  }
}

.masterUncheckAll {
  @include masterButton();
  color: $primaryOrange;
  &:hover {
    color: darken($primaryOrange, 15%);
  }
}

@mixin actionButton {
  border-radius: 5px;
  color: white;
  font-size: 12pt;
  margin-right: 20px;
  height: 35px;
  margin-top: 10px;
  border: none;
}

.submitButton {
  @include actionButton();
  background-color: $primaryOrange;
}

.instascrapeButton {
  @include actionButton();
  background-color: $primaryNavy;
}

.zipCodeButton {
  @include actionButton();
  background-color: $primaryNavy;
  margin-left: 1em;
}

.successBanner {
  @include info-box();
  color: $primaryNavy;
}

.errorBanner {
  @include info-box();
  color: $primaryOrange;
}

.checkboxArray {
  margin-top: 10px;
}

.checkAll label {
  @include myLabel();
  font-weight: bold;
}

.checkbox-container {
  margin-bottom: 0.5em;
}

.distance-info {
  color: gray;
  font-size: 10pt;
  font-style: italic;
  margin-left: 1.5em;
  line-height: 15px;
}

@mixin parkCheckbox {
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 1.5em;
  height: 1em;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
}

.park-list-checkbox {
  position: relative;
  display: block;
}

.park-list-checkbox span {
  display: block;
  margin-left: 1em;
  padding-left: 0.5em;
  text-align: left;
}

.park-list-checkbox span::before {
  @include parkCheckbox();
  content: "";
  background: $formHeaderColor;
  border: 1px solid gray;
}

.park-list-checkbox span::after {
  @include parkCheckbox();
  text-align: center;
}

.park-list-checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: -1;
  position: absolute;
}

@mixin checkbox-checked {
  color: black;
  position: absolute;
  content: "";
  display: block;
  border-radius: 4px;
  border: 1px solid gray;
}

.park-list-checkbox input[type="checkbox"]:checked + span::after {
  @include checkbox-checked();
  .northeast & {
    background-color: $neBackground;
  }
  .northwest & {
    background-color: $nwBackground;
  }
  .southwest & {
    background-color: $swBackground;
  }
  .southeast & {
    background-color: $seBackground;
  }
}

.checkAll input[type="checkbox"]:checked + span::after {
  @include checkbox-checked();
  .northeast & {
    background-color: darken($neBackground, 25%);
  }
  .northwest & {
    background-color: darken($nwBackground, 25%);
  }
  .southwest & {
    background-color: darken($swBackground, 25%);
  }
  .southeast & {
    background-color: darken($seBackground, 25%);
  }
}

.loader {
  @include info-box();
  color: $primaryOrange;
}

.loader-spinner {
  display: flex;
  width: 100%;
  height: 100;
  justify-content: center;
  align-items: center;
}

.adhoc-results {
  @include info-box();
}

.adhoc-row-header {
  font-weight: bolder;
  margin-top: 5px;
}

.container {
  border: solid 1px black;
  width: 1000px;
  height: 1000px;
  background: url("../img/wisconsin-edits.svg");
}

.origin-node {
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: white;
  z-index: 10;
  padding: 10px;
}

.northeast-node {
  background-color: $neBackground;
  opacity: 70%;
}

.northwest-node {
  background-color: $nwBackground;
  opacity: 70%;
}

.southeast-node {
  background-color: $seBackground;
  opacity: 70%;
}

.southwest-node {
  background-color: $swBackground;
  opacity: 70%;
}
.map-circle-checkbox {
  position: absolute;
  display: block;
  border-radius: 3px;
  padding: 3px;
  border: 1px solid rgba(256,256,256,128)
}

.map-circle-checkbox:hover {
  z-index: 15;
  border: 1px solid rgba(256,256,256,256);
  opacity: 100%;
}

.map-circle-checkbox span {
  display: block;
  text-align: left;
  font-size: 9pt;
  padding-left: 15px;
}

.map-circle-checkbox span::before {
  display: block;
  position: absolute;
  top: 3px;
  left: 0px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding-top: 2px;
  outline: 0;
  cursor: pointer;
  content: "";
  background: white;
  border: 1px solid gray;
}

.map-circle-checkbox span::after {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding-top: 2px;
  outline: 0;
  cursor: pointer;
  text-align: center;
}

.map-circle-checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: -1;
  position: absolute;
  padding-top: 2px
}

