@import '_colors';

.form-header-parent {
  display: flex;
}

.form-block {
  margin-top: 10px;
}
// @mixin triangle {
//   width: 0; 
//   height: 0; 
//   border-top: 10px solid transparent;
//   border-bottom: 10px solid transparent;
  
//   border-left: 10px solid $formHeaderColor;
// }

// .left-triangle {
//   @include triangle();
//   transform: rotate(45deg);
// }

// .right-triangle {
//   @include triangle();
//   transform: rotate(-45deg);
// }


@mixin myLabel {
  position: relative;
  top: -3px;
  padding-left: 4px;
  font-size: 11pt;
  text-overflow: ellipsis;
}


.parkList {
  display: flex;
  input[type="checkbox"] {
    flex: 0 0 auto;
  }
  label {
    @include myLabel();
  }
}

.masterButton {
  margin-left: 10px;
  margin-right: 20px;
}

@mixin masterButton {
  width: 130px;
  height: 25px;
  align-items: center;
  border-radius: 7px;
  color: white;
  font-size: 12pt;
  border: none;
  margin-top: 10px;
}


.masterCheckAll {
  @include masterButton();
  background-color: lighten($primaryNavy, 20%);
}

.masterUncheckAll {
  @include masterButton();
  background-color: $primaryOrange;
}

@mixin actionButton {
  border-radius: 5px;
  color: white;
  font-size: 12pt;
  margin-right: 20px;
  height: 35px;
  margin-top: 10px;
}


.submitButton {
  @include actionButton();
  background-color: $primaryGreen;
  border: none;
}


.instascrapeButton {
  @include actionButton();
  background-color: $primaryRed;
  border: none;
}

.successBanner {
  color: $primaryGreen;
}

.errorBanner {
  color: $primaryOrange;
}

.checkboxArray {
  margin-top: 10px;
}

.checkAll label {
  @include myLabel();
  font-weight: bold;
}

@mixin parkCheckbox {
  position: relative;
  color: black;
  border: 1px solid gray;
  width: 1.5em;
  height: 1em;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
}

input[type="checkbox"] {
  @include parkCheckbox();
  &::before {
    position: absolute;
    content: "";
    display: block;
    top: 1px;
    left: 9px;
    width: 5px;
    height: 10px;
    border-style: solid;
    border-color: white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }
  &:checked {
    color: black;
    .northeast & {
      border-color: $neBackground;
      background-color: $neBackground;
    }
    .northwest & {
      border-color: $nwBackground;
      background-color: $nwBackground;
    }
    .southwest & {
      border-color: $swBackground;
      background-color: $swBackground;
    }
    .southeast & {
      border-color: $seBackground;
      background-color: $seBackground;
    }
    &::before {
      opacity: 1;
    }
    ~ label::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}

