@import '_colors';

body {
    background-color: $siteBackground;
    margin: 0;
    font-family: "MaisonNeue", "Segoe UI", "Helvetica Neue", -apple-system, system-ui, BlinkMacSystemFont, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


body a {
    color: $primaryOrange;
}

nav {
    background-color: $primaryGreen;
    padding: 0px;
    margin: 0px;
}

.hero {
    min-height: 100px;
    background-color: $primaryGreen;
    justify-content: center;
    color: $primaryOrange;
}

.image-container {
    min-width: 500px;
    border-style: solid;
    border-width: 2px;
    border-color: $primaryOrange;
}

@mixin nav-height {
    min-height: 30px;
}

.nav-bar {
    margin-top: 0px;
    @include nav-height();
    justify-content: center;
    align-items: center;
    font-size: 10pt;
}

@mixin nav-base {
    padding: 0px;
    margin: 0px;
    position: relative;
}

.nav-pad {
    @include nav-base();
}


.nav-item {
    @include nav-base();
}

.nav-item:hover {
    background-color: darken($primaryGreen, 15%);
}

.nav-text {
    vertical-align: middle;
}

@mixin center-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

nav a {
    display: block;
    @include nav-height();
    text-align: center;
}

nav a:link {
    color: white;
    text-decoration: none;
}

nav a:visited {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: white;
    text-decoration: none;
}

nav a:active {
    color: white;
    text-decoration: none;
}

nav .register {
    background-color: $primaryOrange;
}

nav .register:hover {
    background-color: darken($primaryOrange, 15%);
}

nav .login {
    background-color: $primaryRed;
}

nav .login:hover {
    background-color: darken($primaryRed, 15%);
}

nav .logout {
    background-color: $primaryNavy;
}

nav .logout:hover {
    background-color: lighten($primaryNavy, 15%);
}

.main-body {
    margin-top: 0px;
    min-height: 85vh;
    margin-bottom: 0px;
}

.main-content {
    background-color: $siteBackground;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.selectionApp {
    margin-top: 5px;
}

.footer {
    background-color: $siteBackground;
    padding: 30px;
    text-align: center;
    color: $primaryGreen
}

.table-header {
    font-weight: bold;
    font-size: 14px;
    margin: 0px;
}

.table-row {
    font-size: 12px;
    margin: 0px;
    padding: 3px;
    border-bottom: 1px dotted black;
}

.inactive {
    color: #909090;
    background-color: #f8ddde;
}

.active {
    background-color: #def8dd;
}

ul {
    list-style: none;
    padding: 0;
}

.pwChange {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}
