$nwBackground: #fad87b;
$neBackground: #b1d5bc;
$swBackground: #bcd682;
$seBackground: #ffca6e;
$primaryGreen: #2c6e49;
$primaryOrange: #fc5130;
$primaryRed: #772014;
$primaryOrange: #fc5130;
$primaryYellow: #ffae10;
$primaryNavy: #0a122a;
$primaryAqua: #177e89;
$siteBackground: #fff3dd;

body {
    background-color: $siteBackground;
    margin: 0;
}

body a {
    color: $primaryAqua;
}

nav {
    background-color: $primaryGreen;
    padding: 0px;
    margin: 0px;
}

@mixin nav-height {
    min-height: 30px;
}

.nav-bar {
    margin-top: 0px;
    @include nav-height();
    justify-content: center;
    align-items: center;
    font-size: 10pt;
    box-shadow: 5px 0px 5px #050505;
}

@mixin nav-base {
    padding: 0px;
    margin: 0px;
    position: relative;
}

.nav-pad {
    @include nav-base();
}


.nav-item {
    @include nav-base();
}

.nav-item:hover {
    background-color: darken($primaryGreen, 15%);
}

@mixin center-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

nav a {
    display: block;
    @include nav-height();
    text-align: center;
    // @include center-nav();
}

nav a:link {
    color: white;
    text-decoration: none;
}

nav a:visited {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: white;
    text-decoration: none;
}

nav a:active {
    color: white;
    text-decoration: none;
}

nav .register {
    background-color: $primaryYellow;
}

nav .register:hover {
    background-color: darken($primaryYellow, 15%);
}

nav .login {
    background-color: $primaryRed;
}

nav .login:hover {
    background-color: darken($primaryRed, 15%);
}

nav .logout {
    background-color: $primaryNavy;
}

nav .logout:hover {
    background-color: lighten($primaryNavy, 15%);
}

.main-body {
    margin-top: 0px;
    min-height: 85vh;
    margin-bottom: 0px;
}

.main-content {
    background-color: white;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.selectionApp {
    margin-top: 20px;
}

.copyright {
    background-color: $primaryYellow;
    padding: 30px;
    text-align: center;
}

.table-header {
    font-weight: bold;
    font-size: 14px;
    margin: 0px;
}

.table-row {
    font-size: 12px;
    margin: 0px;
    padding: 3px;
    border-bottom: 1px dotted black;
}

.inactive {
    color: #909090;
    background-color: #f8ddde;
}

.active {
    background-color: #def8dd;
}

ul {
    list-style: none;
    padding: 0;
}

.pwChange {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}
